
.navContainer {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navs-top {
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgba(254,201,7,255);
}

.navBut {
    display: flex;
    margin-left: 2em;

}

.icon{
    padding-right: 2em;
    padding-top: 3%;
}

.searchtab {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.searchtab > input {
    height: 33px;
    
}



/* Body details */

.bodyDets{
    background-color: rgb(255, 255, 255);
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 20px;
}

.bodybck {
    width: 80px;
    display: flex;
    margin-right: 2em;

}

.bodyCov{
    width: 200px;
    display: flex;
    flex-direction: column;
}

.bodycaption{
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 10px;

}
.bodyLabels{
    width: 1fr;
    max-width: 310px;
    display: flex;
    justify-content: center;
    background-color: #FFD300;
    display: flex;
    flex-direction: column;
    font-size: 0.5em;
}

.bodyLabelTxt{
    margin-top: "5px"; 
    padding-top: "5px"; 
    padding-bottom: "5px"; 
    width: "30px"; 
    font-size: "15px"; 
    font-weight: 'bolder'; 
    background-color: 'black'; 
    color: 'yellow'; 
    text-align: 'center' 
}

.bodylabelIcons{
    display: flex;
    flex-direction: column;
    font-size: 0.1rem;
}

.bodylabel1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:10px;
    background-color: rgba(255, 239, 14, 0.4);
    
}
.bodylabel2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:10px;
    background-color: rgba(255, 240, 0.6);
    
}
.bodylabel3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:10px;
    background-color: rgba(255, 240, 0, 0.8);
    
}
.bodylabel4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:10px;
    background-color: rgba(255, 240, 0, 1);
    
}

.bodylabelText {
    font-size: 0.5rem;
    flex-direction: column;
    justify-content: space-around;
}

.bodylabelInsisdeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.controls{
    width: 30%;
    margin-left: 3%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;


}

.controlsInner{
    display: flex;
    align-items: baseline;
}

.controlsInner > input {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px
}

.controlsInnerBtn{
    margin-left: 5px;
    border: 2px black solid;
    border-radius: 8px;
    padding: 5px;
    margin-top: 5px;
}

.controlsSearch {
    height: 30px;
    
}

.map-container {
    width: 700px;
    height: 80vh;
}

.map {
    width: 100%;
    max-height: 80vh;
    background-color: #FFD300;
}

.leaflet-container {
    width: 100%;
    height: 100%;
  }


.bodyMap {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    gap: 10px;
    padding-bottom: 10px;
}





/* Before Bottom part */

.adsCom{
    background-color: rgb(212, 212, 212);
    height: 30vh;
    padding: 20px;

}
.adsComHold{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adsComCont{
    margin-left: 100px;
}

.card-out {
    height: 100%;
    width: 170px;
    border: 2px solid black;
    border-radius: 10%;
    background-image:url('/public/happy.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    box-sizing: border-box;
    padding-bottom: 5%;

}

.cardContainer1 {
    height: 150px;
    padding-top: 50px;
}

.cardTitle{
    font-weight: bold;
    background-color: #FFD300;
    width: 65%;
}
.cardInset{
    color: white;
    font-weight: bolder;
}
.cardbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    border-radius: 10px;
    background-color: #FFD300;
    padding: 5px;
}

.cardIcon{
    padding-top: 5px;
}


/* FOoter Dets */
.bottom {
    background-color: rgb(10, 6, 6);
    height: 30vh;
    color: aliceblue;
    padding-top: 1rem;
    padding-left: 3rem;
    display: flex;
    justify-content: space-between;
}